<script src="https://d3js.org/d3.v4.min.js"></script>
<!DOCTYPE html>
<meta charset="utf-8">
<%= pie_chart({"" => 10, "Basketball" => 5}) %>
<%= pie_chart [["Football", 10], ["Basketball", 5]] %>
<p>
  <strong>Name:</strong>
  <%= @charity.name %>
  <br><br>
  <strong>Operation and Information:</strong>
  <%= @charity.description %><br><br>
  <strong>Rating:</strong>
  <%= @charity.rating %>
</p>

